/******* Theme *******/
$primary      : #54697d;
$secondary    : #2f9cf3;
$error        : #b00020;
$warning      : #FFAA00;
$theme1       : #1c1c1c;
$margin       : 20px;
$radius       : 15px;
$radiusLarge  : 10px;
$standardShadow : 0px 4px 10px rgba(20, 42, 74, 0.07);

/******* Colors *******/
$primaryFontColor : #FFFFFF;
$cardBackground : #FFFFFF;
$liteGrey:  #E6EAEB;
$greyPurple: #E7E8F2;
$standardBorderColor: #E7E8F2;
$primaryGreen: #1F9B99;
$theme2: #54697d;
$theme3: #efefef;
$darkGreen: #013D4A;
$secondaryGrey: #8F9BB3;
$lightGrey: #F8FAFA;
$greyGreen: #95B2BA;
$brightTurquoise: #2DE1E8;
$feintBlue: #EAFCFD;
$white: #FFFFFF;
$red: #c21840;
$turquoiseNeon: #33F8FF;
$aqua: #13BBC2;
$aquaSedated: #6eb2b2;
$greenMatte: #1C4E5C;
$accentError: #FF3D71;
$oceanBlue: #3CA7C2;
$darkOceanBlue: #014454;
$greyBlogLink: #555F72;
$darkBrown: #212121;
$boxContainer: #232323;
$themeZorkitron: #232323;