:local(.styles) {
    background: $themeZorkitron;
    color: white;

    .wallet-selector {
        width: 500px;
    }

    .btn-label {
        img {
            margin-right: 15px;
            position: relative;
            top: 2px;
        }
    }
}